/* Esto son los estilos para la barra de menú o navegación */
*{
  padding: 0;
  margin: 0;
}

/* Nav button */
.navMenu{
  position: absolute;
  top: 15px;
  right: 23px;
  cursor: pointer;
  color: #07F1F1;
  text-decoration: none;
  font-weight: bold;
  font-size: 55px;
}

/* overlay (background) */
.overlay{
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 9999999;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.801);
  background-color: rgba(0, 0, 0, 0.801);
  overflow-y: hidden;
  transform: 0.5s;
}  /* Hight and Width depends on how you want to reveal the overlay ( see Js code ) */

/* Close Button */
.closebtn{
  position: absolute;
  top: 10px;
  right: 25px;
  color: #07F1F1;
  text-decoration: none;
  font-weight: bold;
  font-size: 80px;
}

/* Position the content inside the overlay */
.overlay-content{
  position: relative;
  top: 15%;
  margin: 20px;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}
.overlay-content li{
  margin: 7px;
  padding: 10px;
  list-style: none; 
}
.overlay-content li a{
  color: white;
  font-size: 30px;
  font-family: sans-serif;
  margin: 30px;
  font-weight: bold;
  text-decoration: none;
}

/* Menu Hover Effect */
.overlay-content a:hover,
.overlay-content a:focus{
  color: white;
  background: #07F1F1;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  transform: translateX(-98%) translateY(-25%) rotate(45deg);
  -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
}

/* a continuacion lo estilos para el contenido*/

.contenido {
  padding-top: 140px;
  padding-left: 20px;
  padding-right: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  justify-content: safe;
  background-color: rgb(5, 5, 5);
  position: absolute;
}

/* estilo para el boton index*/
.button_index{
  margin-top: 2em;
  padding: 1rem;
  margin: 0.5em;
  border-radius: 0rem;
  font-size: 30px;
  color: #07F1F1;
  border-color: #07F1F1;
  background-color: #3F4F4F;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
}

.button_index:hover {
  color: white;
  background-color: #07F1F1;
}

/* estilo para el texto del index*/
.p_index{
  position: center;
  font-family: 'Inter';
  font-style: normal;
  font-size: 60px;
  text-align: center;
  color: white;
}

.index{
  width: 100%;
  height:100vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: 'open sans';
  background-image: url('imagenes/Imagen de fondo webcv.jpg');
}
/* estilos aplicados en el about*/
h1{
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 1em;
  margin-right: 0.5em;
  position: left;
  font-family: 'Inter';
  font-style: normal;
  font-size: 50px;
  text-align: center;
  color: #3F4F4F;

}
.p_about_1{
  margin-left: 1em;
  margin-right: 0.5em;
  position: left;
  font-family: 'Inter';
  font-style: normal;
  font-size: 40px;
  text-align: justify;
  color: #3F4F4F;
}

.p_about_2{
  margin-left: 0.5em;
  margin-right: 0.5em;
  position: left;
  font-family: 'Inter';
  font-style: normal;
  font-size: 30px;
  text-align: justify;
  color: #3F4F4F;
}

/* estilo para el boton de descarga cv*/
.button_download_cv{
  margin-top: 1.5em;
  margin-left: 1.5em;
  position: left;
  padding:0.5rem;
  border-radius: 8rem;
  color: #07F1F1;
  border-color: #07F1F1;
  background-color: #3F4F4F;
  font-size: 15px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-border-radius: 6rem;
  -moz-border-radius: 6rem;
  -ms-border-radius: 6rem;
  -o-border-radius: 6rem;
}

.button_download_cv:hover {
  color: white;
  background-color: #07F1F1;
}

.about{

  display: grid;
  grid-template-areas: "left right";
  gap: 25px;
  background-color: white;
  margin-top: 0em;
}

.photo_about{
  display:grid;
  place-content: ;
  margin-top: 6em;
  margin-left: 8em;
  position: center;
  height:400px;
  width: 350px;
  background-repeat: no-repeat;
  background-image: url('/Miscelaneos/web_developer_foto.jpg');
  border-radius: 2em;
}

.social_icons{
  display:flex;
  margin-top: 2em;
  margin-left: 10em;
  position: relative;
  width: 50px;
  height: 50px;
  
}
.about .right {
  background-color: #3F4F4F;
  width: 600px;
  height: 649px;
  color: white;
  min-height: 200px;
  border-radius: 0em;
}

.about .left {
  grid-area: right;
}
.about .right {
  grid-area: right;
}


@media (max-width: 768px) {
  .about {
      grid-template-areas: 'left' 'right';
      padding: 1em 1em;
  }

  .about .left,
  .about .right, {
      width: 100%;
  }
}
