/* Esto son los estilos para la barra de menú o navegación */
*{
  padding: 0;
  margin: 0;
}

/* Nav button */
.navMenu{
  position: absolute;
  top: 15px;
  right: 23px;
  cursor: pointer;
  color: rgb(47, 235, 235);
  text-decoration: none;
  font-weight: bold;
  font-size: 55px;
}

/* overlay (background) */
.overlay{
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 9999999;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.801);
  background-color: rgba(0, 0, 0, 0.801);
  overflow-y: hidden;
  transform: 0.5s;
}  /* Hight and Width depends on how you want to reveal the overlay ( see Js code ) */

/* Close Button */
.closebtn{
  position: absolute;
  top: 10px;
  right: 25px;
  color: rgb(47, 235, 235);
  text-decoration: none;
  font-weight: bold;
  font-size: 80px;
}

/* Position the content inside the overlay */
.overlay-content{
  position: relative;
  top: 15%;
  margin: 20px;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}
.overlay-content li{
  margin: 7px;
  padding: 10px;
  list-style: none; 
}
.overlay-content li a{
  color: #fff;
  font-size: 30px;
  font-family: sans-serif;
  margin: 30px;
  font-weight: bold;
  text-decoration: none;
}

/* Menu Hover Effect */
.overlay-content a:hover,
.overlay-content a:focus{
  color: white;
  background: #0dc2b9;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  transform: translateX(-98%) translateY(-25%) rotate(45deg);
  -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
}

/* a continuacion lo estilos para el contenidor*/

.contenido {
  padding-top: 140px;
  padding-left: 20px;
  padding-right: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  justify-content: safe;
  background-color: rgb(5, 5, 5);
  position: absolute;
}

/* estilo para los boton de HireMe*/
.button_index{
  width: 175px;
  height: 65px;
  border-radius: 15px;
  border-color:aqua;
  border-style: hidden;
  font-size: 40px;
  background-color: #4b4545;
  color: aqua;
}

/* estilo para el texto del index*/
.p_index{
  position: center;
  font-family: 'Inter';
  font-style: normal;
  font-size: 60px;
  text-align: center;
  color: #FFFFFF;
}

.index{
  width: 100%;
  height:100vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: 'open sans';
  background-image: url('imagenes/Imagen de fondo webcv.jpg');
}

.about{

  margin-top: 80px;
  margin-left: 20px;
  margin-right: 10px;
  width: 40%;
  height:100vh;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: top;
  flex-direction:column;
  font-family: 'open sans';
  background-color: white;
  text-align: justify;
  font-size: 25px;
  font-family:inherit;
}

/* estilo para los botones de descarga*/
.button_download{
  width: 180px;
  border-radius: 15px;
  border-color:aqua;
  border-style: hidden;
  font-size: 25px;
  background-color: #4b4545;
  color: aqua;
  
}
