* {
    margin: 0;
    padding: 0;
}
/*Aqui agregamos los estilos de los estilos del icono flotante de whatsapp*/
.whatsapp {
    position:fixed;
    width:60px;
    height:60px;
    bottom:40px;
    right:40px;
    background-color:#25d366;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:30px;
    z-index:100;
}
.whatsapp-icon {
    margin-top:13px;
}

/*Aqui comenzamos con los estilos de los estilos del primer contenedor llamado fotoPrincipal*/
.contedor{
    display: grid;
    background-color: yellowgreen;
    align-items: center;
    align-content: center;
}
.mensajeBienvenidaFlotante{
    width: 200px;
    height: 200px;
    background-color: #47acffbb;
    border-radius: 400px;
    -webkit-border-radius: 400px;
    -moz-border-radius: 400px;
    -ms-border-radius: 400px;
    -o-border-radius: 400px;
    position: absolute;
    top: 50px;
    left: 570px;
    text-align: center;
    word-wrap: break-word;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fotoPrincipal{
    display: grid;
    background-image: url('/Miscelaneos/imagen_git_fondo_home_jaar.gif');
    background-repeat: no-repeat;
    background-size: 100%;
    align-items: center;
    height: 300px;
}
h1{
    padding: 20px 0;
    color: rgb(21, 21, 128);
    font-size: 30px;
}
h2{
    padding-bottom: 20px;
    color: grey;
    font-size: 20px;
}
h3{
    color: white;
}
p{
    font-size: 30px;
    color: white;
    text-align: center;
}

/*Aqui comenzamos con los estilos de los grids anidados del contenedor llamado nested_grid*/

.nested_grid{
    display: grid;
    gap: 0.1em;
    grid-template-areas: 'elemento1 elemento2 elemento3';
    padding: 0px 300px;
}
.element1{
    display: grid;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 250px;
    border: 1px solid gray;
    background-color: #0716e6;
    grid-area:elemento1;
}
.element2{
    display: grid;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 250px;
    border: 1px solid gray;
    background-color: #4b56f3;
    grid-area:elemento2;
}
.element3{
    display: grid;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 250px;
    border: 1px solid gray;
    background-color: #080e63;
    grid-area:elemento3;
}

/*A continuación aplicamos las condiciones del responsive*/

@media (max-width:750px)
{
    .nested_grid{
        grid-template-areas: 
        'elemento1' 'elemento2'
        'elemento3';
        padding: 30px 135px;
        justify-content: center;

}